﻿@{ ViewData["Title"] = "Результаты расчета"; }
@model _2021_ZubakovSemon.Models.DataOutputNewModel
<div class="text-left">
    <h2>Расчетные данные</h2>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-3 border border-dark">Значения\Y,м</div>
                @foreach (var item in Model.SloyM)
                {
                    <div class="col-1 border border-dark">@item</div>}
            </div>
            <div class="row">
                <div class="col-3 border border-dark"><img  src="~/Images/Screenshot_1.jpg" /></div>
                @foreach (var item in Model.Y)
                {
                    <div class="col-1 border border-dark">@item</div>}
            </div>            <div class="row">
                <div class="col-3 border border-dark"><img width="250" src="~/Images/Screenshot_2.jpg" /></div>
                @foreach (var item in Model.Exp)
                {
                    <div class="col-1 border border-dark">@item</div>}
            </div>            <div class="row">
                <div class="col-3 border border-dark"><img  src="~/Images/Screenshot_3.jpg" /></div>
                @foreach (var item in Model.MExp)
                {
                    <div class="col-1 border border-dark">@item</div>}
            </div>            <div class="row">
                <div class="col-3 border border-dark"><img width="250" src="~/Images/Screenshot_4.jpg" /></div>
                @foreach (var item in Model.Vr)
                {
                    <div class="col-1 border border-dark">@item</div>}
            </div>            <div class="row">
                <div class="col-3 border border-dark"><img width="250" src="~/Images/Screenshot_5.jpg" /></div>
                @foreach (var item in Model.v_tet)
                {
                    <div class="col-1 border border-dark">@item</div>}
            </div>            <div class="row">
                <div class="col-3 border border-dark"> <img width="250" src="~/Images/Screenshot_6.jpg" /> </div>
                @foreach (var item in Model.t_tet)
                {
                    <div class="col-1 border border-dark">@item</div>}
            </div>
            <div class="row">
                <div class="col-3 border border-dark"> <img width="250" src="~/Images/Screenshot_7.jpg" /> </div>
                @foreach (var item in Model.Ttet)
                {
                    <div class="col-1 border border-dark">@item</div>}
            </div>
            <div class="row">
                <div class="col-3 border border-dark">Разность температур</div>
                @foreach (var item in Model.Traznost)
                {
                    <div class="col-1 border border-dark">@item</div>}
            </div>

            <div class="row">
                <div class="col-1 my-3">
                    @using (Html.BeginForm("GraphicNew", "Home", FormMethod.Post))
                    {
                        <button type="submit" style="font-size: 16px" class="btn btn-primary">График</button>}
                </div>


            </div>
        </div>
    </div>
</div>






